@model FilRouge.MVC.ViewModels.QuizzViewModel
@{
	ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    <h1>Création du quizz</h1>
	@Html.EditorFor(m => m)

	<div class="form-group">
		<div class="col-md-offset-2 Col-md-10">
			<input type="submit" value="Ajouter" class="btn-default" />
		</div>
	</div>
}